:host {
    overflow: hidden;
    padding: 40px 32px;

    text-align: justify;
    text-justify: inter-word;

    ::ng-deep * {
        font-family: 'Gloria Hallelujah', sans-serif;
        line-height: 1.5;
    }

    ::ng-deep h1 {
        display: flex;
        justify-content: space-between;
    }

    ::ng-deep .width-full {
        width: 100%;
    }

    ::ng-deep .width-3\/5 {
        width: 60%;
    }

    ::ng-deep .center-x {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}