:host {
    overflow: hidden;
    padding: 40px 32px;

    text-align: justify;
    text-justify: inter-word;

    ::ng-deep * {
        font-family: 'Gloria Hallelujah', sans-serif;
        line-height: 1.5;
    }
}